<% obj.each do |post| %>

  <div class="card blog_post">
    <h2 class="blog__post__title"><%= post.title %></h2>
    <p class="blog__post__description"><%= truncate(post.description, length: 250) %></p>
    <hr>
    <div class="post__actions">
      <%= link_to 'Edit Post', edit_article_path(post) %>
      <%= link_to 'View Post', article_path(post) %>
      <%= link_to 'Delete Post', article_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>

    <div class="card-footer-area">
      <div class="d-flex">
        <span class="me-3">Posted by: <%= post.user.username %></span>
        <span>Posted at: <%= time_ago_in_words(post.created_at) %> ago</span>
        <span class="ms-3">Last Updated at: <%= time_ago_in_words(post.updated_at) %> ago</span>
      </div>
    </div>
  </div>

<% end %>